<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<!-- Forms authentication - redirects to Login.aspx if not logged in -->
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx"
				   timeout="30" />
		</authentication>

		<!-- Default.aspx is public, everything else requires login -->
		<authorization>
			<allow users="*" />
		</authorization>

	</system.web>

	<location path="Member.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="Staff.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

</configuration>


